body {
    background: url(https://th.bing.com/th/id/R2ba7c07c3e10f268f6829198355258d7?rik=%2bMdsmh9qfcZRIQ&riu=http%3a%2f%2fcoolwallpaperz.info%2fuser-content%2fuploads%2fwall%2fo%2f73%2farchitecture-city-landscape-night-places-363363.jpg&ehk=HX9H%2b26I2DVmbx0yv8kbjGIwmYnaRaN2bryF%2b7Fa4lQ%3d&risl=&pid=ImgRaw);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
form {
    background: rgba(0, 0, 0, 0.685);
    box-shadow: -1px 4px 28px 0px rgb(0, 0, 0);
    font-family: Verdana;
    font-size: 14px;
    align-items:center;
    top: 30%;
    left: 30%;
    font-size: 18px;
    transform:translate(10%,50%);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}
div {
    margin-bottom: 10px;
    color: white;
    width: 100%;
}
.button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#user{
    background-color: sandybrown;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#user-input{
    background-color: skyblue;
}
h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family:"Monoserrat", sans-serif;
}
button{
    color: white;
    background: #3498db;
    font-size: 20px;
    border: 1px solid #2691d9;
    letter-spacing: 1px;
    text-align: center;
    font-family: Verdana;
}
button:hover{
    cursor: pointer;
    background:royalblue;
}